.cover {
  margin-top: 30px;
  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    &-title {
      font-size: 5.4vw;
      font-weight: 700;
      line-height: 5vw;
      text-align: left;
      padding-bottom: 2vw;
    }
    &-text {
      font-size: 1.8vw;
      font-weight: 500;
      line-height: 3vw;
      text-align: left;
      color: #00000096;
    }

    &-box {
      margin: 3vw 0;
      display: flex;
      gap: 20px;
    }

    &-link {
      padding: 1vw 2.6vw;
      background-color: $text-color;
      border-radius: 6px;

      font-size: 1.5vw;
      font-weight: 500;
      line-height: 24px;
      text-align: center;
      color: #fff;

      &:last-child {
        background-color: transparent;
        color: $text-color;
        border: 1px solid #0000001a;
      }
    }

    &-desc {
      font-size: 1vw;
      font-weight: 500;
      line-height: 20px;
      text-align: left;
      color: #00000064;
    }
  }

  &-img {
    width: 50vw;
    height: 52vw;
  }

  margin-bottom: 120px;
}

@media screen and (max-width: 1140px) {
}
